@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400&family=Rock+3D&display=swap");

:root {
  --white: #eee;
  --dark: #222;
  --shadow: #6b696965;
  --primary-blue: #3c71b6;
  --default-back: #e9f3f7;
  --form-back: #fafafa8a;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: var(--default-back);
  filter: blur(100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ant-layout {
  background-color: transparent;
}

* {
  font-family: "Roboto", sans-serif;
}

.ant-btn-primary {
  background-color: var(--primary-blue);
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
  outline: none !important;
  border: none !important;
}

.ant-list {
  width: 100%;
}

#container-with-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

#landing {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing > h1 {
  z-index: 2;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  color: var(--white) !important;
  font-family: "Pushster", cursive;
  font-weight: 600;
}

#landing > p {
  z-index: 2;
  color: var(--white) !important;
  font-size: 1.2rem;
  font-family: "Staatliches", cursive;
}

#banner-img {
  position: fixed;
  z-index: -1;
  width: 100%;
  filter: blur(1px) grayscale(30%);
  transform: translateY(-100px);
}

#landing-container {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--default-back);
  min-height: 70vh;
  -webkit-box-shadow: 0 -4px 4px -2px var(--dark);
  -moz-box-shadow: 0 -4px 4px -2px var(--dark);
  box-shadow: 0 -4px 4px -2px var(--dark);
}

#landing-container .ant-row {
  -webkit-box-shadow: 0 4px 4px -2px var(--dark);
  -moz-box-shadow: 0 4px 4px -2px var(--dark);
  box-shadow: 0 4px 4px -2px var(--dark);
  width: 70%;
}

#landing-container .ant-row .ant-col {
  background-color: var(--form-back);
  border-radius: 8px;
  padding-left: 10px;
}

#landing-container-title {
  background-color: var(--primary-blue);
  width: fit-content;
  padding: 10px 150px 10px 150px;
  height: fit-content;
  transform: translateY(-50%);
  border-radius: 8px;
  top: 0px;
}

#landing-container-title h1 {
  font-size: 1.8rem;
  font-family: "Staatliches", cursive;
  color: var(--white);
}

#landing-container-content:last-child {
  margin-bottom: 50px !important;
}

#waves {
  z-index: 5;
  position: fixed;
  top: 0;
  transform: scaleY(0.5) scaleX(1.2) translateY(-50%);
  -webkit-filter: drop-shadow(3px 3px 2px var(--dark));
  filter: drop-shadow(3px 3px 2px var(--dark));
}

.quote {
  text-align: justify;
  margin-left: 15%;
  width: 70%;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  color: var(--dark);
}

header,
.ant-layout-content {
  width: 70%;
  display: flex;
  justify-content: center;
  align-self: center;
  background: transparent !important;
}

.ant-layout-content {
  margin-top: 120px !important;
  z-index: 999;
}

#container-with-background {
  padding-top: 120px !important;
  z-index: 4;
}

header {
  z-index: 10;
  width: 100%;
  padding: 0 !important;
  background-color: transparent !important;
  position: fixed;
}

.ant-form-horizontal {
  width: 100%;
  padding: 20px 0 0 0;
  background-color: var(--form-back);
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 4px -2px var(--dark);
  -moz-box-shadow: 0 4px 4px -2px var(--dark);
  box-shadow: 0 4px 4px -2px var(--dark);
}

ul {
  width: 70% !important;
  background: transparent !important;
  color: var(--white) !important;
}

.basic-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px !important;
  padding: 0 30px 30px 30px;
  border-radius: 8px;
  background-color: var(--form-back);
  -webkit-box-shadow: 0 4px 4px -2px var(--dark);
  -moz-box-shadow: 0 4px 4px -2px var(--dark);
  box-shadow: 0 4px 4px -2px var(--dark);
  border-bottom: 14px solid var(--primary-blue);
}

.basic-form-container > form {
  width: 100%;
}

.basic-form-container > h1 {
  background-color: var(--primary-blue);
  padding: 5px 15px 5px 15px;
  transform: translateY(-50%) translateX(-15%);
  border-radius: 8px;
  font-size: 2rem;
  width: 300px;
  font-family: "Staatliches", cursive;
  color: var(--white);
  text-align: center;
}

.blu-title {
  color: var(--primary-blue);
}

.ant-menu-horizontal {
  border: 0px;
}

.ant-menu-horizontal * {
  font-weight: 600;
}

.ant-menu {
  z-index: 5;
  width: 100%;
}

.paperplane {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 140px;
  background-color: transparent;
}

.plane {
  position: absolute;
  left: 50%;
  top: 10px;
  animation: move 2.7s linear infinite;
}

@keyframes move {
  0% {
    transform: translateY(0) rotateX(0);
  }
  25% {
    transform: translateY(-30px) rotateX(40deg);
  }
  50% {
    transform: rotateX(0) translateY(0);
  }
  75% {
    transform: rotateX(-40deg) translateY(30px);
  }
  100% {
    transform: rotateX(0) translateY(0);
  }
}

.wingRight {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 22.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 115px solid white;
  transform: rotate(61deg);
  z-index: 4;
}

.bottom {
  position: relative;
  width: 0;
  height: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 25.5px solid #676d70;
  top: 71px;
  transform: rotate(-5deg);
  left: -52.5px;
  z-index: 3;
}

.top {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 30px solid #c1c7c9;
  top: 65px;
  transform: rotate(5deg);
  left: -60px;
  z-index: 1;
}

.middle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 135px solid #c1c7c9;
  top: -13.5px;
  transform: rotate(72deg);
  left: -7.5px;
  z-index: 2;
}

.wingLeft {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-bottom: 135px solid white;
  transform: rotate(78deg) skewY(-35deg);
  left: -18.5px;
  z-index: 3;
  top: -30px;
}
