@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400&family=Rock+3D&display=swap");

:root {
  --white: #eee;
  --dark: #222;
  --shadow: #6b696965;
  --primary-blue: #3c71b6;
  --default-back: #dfe6e9;
}

body {
  background-color: var(--default-back);
  filter: blur(100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ant-layout {
  background-color: transparent;
}

* {
  font-family: "Roboto", sans-serif;
}

#landing {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing > h1 {
  z-index: 2;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  color: var(--white) !important;
  font-family: "Pushster", cursive;
  font-weight: 600;
}

#landing > p {
  z-index: 2;
  color: var(--white) !important;
  font-size: 1.2rem;
  font-family: "Staatliches", cursive;
}

#banner-img {
  position: fixed;
  z-index: -1;
  width: 100%;
  filter: blur(1px) grayscale(30%);
  transform: translateY(-100px);
}

#about-us {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--default-back);
  min-height: 200px;
  -webkit-box-shadow: 0 -4px 4px -2px var(--dark);
  -moz-box-shadow: 0 -4px 4px -2px var(--dark);
  box-shadow: 0 -4px 4px -2px var(--dark);
}

#about-us-title {
  background-color: var(--primary-blue);
  width: fit-content;
  padding: 10px 150px 10px 150px;
  height: fit-content;
  transform: translateY(-50%);
  border-radius: 3px;
}

#about-us-title h1 {
  font-size: 1.8rem;
  font-family: "Staatliches", cursive;
  color: var(--white);
}

#about-us-content:last-child {
    margin-bottom: 50px !important;
}

.qoute {
  text-align: justify;
  margin-left: 20%;
  width: 60%;
  font-size: 1.1rem;
  font-family: "Staatliches", cursive;
  color: var(--dark);
}

header,
.ant-layout-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  background: transparent !important;
}

.ant-layout-content {
    margin-top: 50px !important;
}

header {
  z-index: 10;
  width: 100%;
  padding: 0 !important;
  background-color: var(--primary-blue) !important;
  position: fixed;
}

ul {
  background: transparent !important;
  color: var(--white) !important;
}

.basic-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 10px;
  background-color: var(--white);
}

.ant-menu-horizontal {
  border: 0px;
}

.ant-menu-horizontal * {
  font-weight: 600;
}

.ant-menu {
  z-index: 5;
  width: 100%;
  -webkit-box-shadow: 0 4px 4px -2px var(--dark);
  -moz-box-shadow: 0 4px 4px -2px var(--dark);
  box-shadow: 0 4px 4px -2px var(--dark);
}

.paperplane {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 140px;
  background-color: transparent;
}

.plane {
  position: absolute;
  left: 50%;
  top: 10px;
  animation: move 2.7s linear infinite;
}

@keyframes move {
  0% {
    transform: translateY(0) rotateX(0);
  }
  25% {
    transform: translateY(-30px) rotateX(40deg);
  }
  50% {
    transform: rotateX(0) translateY(0);
  }
  75% {
    transform: rotateX(-40deg) translateY(30px);
  }
  100% {
    transform: rotateX(0) translateY(0);
  }
}

.wingRight {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 22.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 115px solid white;
  transform: rotate(61deg);
  z-index: 4;
}

.bottom {
  position: relative;
  width: 0;
  height: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 25.5px solid #676d70;
  top: 71px;
  transform: rotate(-5deg);
  left: -52.5px;
  z-index: 3;
}

.top {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 30px solid #c1c7c9;
  top: 65px;
  transform: rotate(5deg);
  left: -60px;
  z-index: 1;
}

.middle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 135px solid #c1c7c9;
  top: -13.5px;
  transform: rotate(72deg);
  left: -7.5px;
  z-index: 2;
}

.wingLeft {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-bottom: 135px solid white;
  transform: rotate(78deg) skewY(-35deg);
  left: -18.5px;
  z-index: 3;
  top: -30px;
}
